﻿@model ZooWeb.Animal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Animal</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SpeciesName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SpeciesName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsCarnivorous)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsCarnivorous)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BirthDay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LivingFieldType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LivingFieldType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LivingFieldNb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LivingFieldNb)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AnimalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
