﻿
@{
    ViewBag.Title = "DispAnimalDataSelectField";
}

<h2>DispAnimalDataSelectField</h2>

@using (Html.BeginForm("SaveAnimal", "AddNewAnimal"))
{ 
<body>
    <div>
        species name:- <input type="text" value="@ViewBag.Animal.FirstName" name="FirstName000" readonly /> <br />
        species name:- <input type="text" value="@ViewBag.Animal.SpeciesName" name="SpeciesName000" readonly /> <br />
        speciesname = @ViewBag.Animal.SpeciesName;
        <br />
        first name = @ViewBag.Animal.FirstName;
        <br />
        @Html.DropDownList("SelId", (List<SelectListItem>)ViewBag.List)
        <br />
        <input type="submit" value="Create" />

    </div>
</body>
}