﻿@model ZooWeb.Animal
<body>
    <div>
        <form action="DispAnimalDataSelectField" method="post">
            <br />
            @Model.SpeciesName
            first name: <input type="text" name="FirstName000" /> <br />
            <input type="text" value="@Model.SpeciesName" name="SpeciesName000" hidden readonly /> <br />
            <input type="submit" value="OK and Select Place" />
        </form>


    </div>
</body>