﻿@model List<string>
@{
    ViewBag.Title = "Index";
}

<h2>Index Add new animal</h2>
<p>
    Select from @Model.Count() species:
</p>
<ul>
    @foreach (var spName in Model)
    {
        <li>
            @Html.ActionLink(spName, "FillAnimalData", new { speciesname = spName })
        </li>
    }

</ul>