﻿@model IEnumerable<ZooWeb.Field>

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing field: @Model.Name</h2>
<ul>
    @foreach (var animal in Model.Animals)
    {
        <li>
            @Html.ActionLink(animal.Title, "Details", new { id = animal.animalId })
        </li>
    }
</ul>