﻿@model IEnumerable<ZooWeb.Field>
@{
    ViewBag.Title = "Zoo";
}

<h2>Browse fields</h2>
<p>
    Select from @Model.Count() fields:
</p>
<ul>
    @foreach (var field in Model)
    {
        <li>
            @*<a href="~/Zoo/Browse?genre=@genre.Name">@genre.Name
                </a>*@

            @Html.ActionLink(field.PlaceType + field.FieldId.ToString(), "Browse", new { field = field.FieldId.ToString() })
        </li>
    }

</ul>

