﻿@model ZooWeb.Field

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Field</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PlaceType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlaceType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxCountOfAnimals)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxCountOfAnimals)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WidthCm)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WidthCm)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LengthCm)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LengthCm)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FieldId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
