﻿@model IEnumerable<ZooWeb.Field>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Inventory</h2>


@foreach (var field in Model)
{
    <li>
        @field.PlaceType
        id
        @field.FieldId
        @field.AnimalsInOnePlace.Count()
        /
        @field.MaxCountOfAnimals
        @foreach (var anim in field.AnimalsInOnePlace)
        {
            <br />
            @anim.FirstName
            
        }

    </li>
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaceType)
        </th>
        <th>
            *id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCountOfAnimals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WidthCm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthCm)
        </th>
        <th>
            *Animal count
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCountOfAnimals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WidthCm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthCm)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.AnimalsInOnePlace.Count())
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FieldId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FieldId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FieldId })
            </td>
        </tr>
    }

</table>*@
